@{
    ViewData["Title"] = "ConfigurarJuego";
}
    <form method="post" action='@Url.Action("CambiarConfig","Home")'>
      <div class = "conf">
        <h2>Nombre de usuario:</h2>
        <input type="text" name="_username">
        <h2>Dificultad:</h2>
        <select name="dificultad">
            <option value="1">Dificil</option>
            <option value="2">Intermedio</option>
            <option value="3">Facil</option>
            <option value="-1">Todas</option>
        </select>

        <h2>Categoria:</h2>
           <select name="categoria">
            <option value="8">Entretenimiento</option>
            <option value="7">Arte</option>
            <option value="5">Geografia</option>
              <option value="1">Deportes</option>
            <option value="6">Historia</option>
            <option value="9">Ciencias</option>
        </select>
        <div class = "inp">
          <input type="submit" value="Enviar">
        </div>
       </div> 
    </form>