@{
    ViewData["Title"] = "ConfigurarJuego";
}
<body class="Fcorrecta">
 
    <div class="Correcta">
    <h1>✔¡Correcta!</h1>
    <img src="https://gfycat.com/agedmarvelousafricanhornbill" alt="">  

<button type="button" class="btn"><a href='@Url.Action("Jugar","Home")'>Siguiente Pregunta</a></button>
</div>
</div>
</body>