@{
    ViewData["Title"] = "ConfigurarJuego";
}
<video src="https://media.istockphoto.com/id/1157900267/es/v%C3%ADdeo/un-hombre-de-negocios-exitoso-con-los-brazos-para-arriba-celebrando-su-victoria-celebrando-el.mp4?s=mp4-640x640-is&k=20&c=Zedq_QNGEdB-2NeorLjS4PhhXPwwnZQQHGmzDBZQQcU="></video>

<button type="button" class="btn"><a href='@Url.Action("Index","Home")'>Volver</a></button>
