@{
    ViewData["Title"] = "ConfigurarJuego";
}
<body class="Fincorrecta">
<div class="Incorrecta">
<h1>¡Incorrecta!</h1>  

<button type="button" class="btn"><a href='@Url.Action("Index","Home")'>Pagina Principal</a></button>
</div>
</body>