@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <u><h1 class="display-4">Bienvenido a PreguntadOrt</h1></u>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
