@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<body class = "Index">
<div class="text-center">
<b><h1 class="display-4">Bienvenido a PreguntadOrt</h1></b>   
</div>
<div class="swiffy-slider">
    <ul class="slider-container">
        <li><img src="img/racing.jpg" style="max-width: 100%;height: auto;" class = "pizzuti"></li>
        <li><img src="img/ORTIGOZA.jpg" style="max-width: 100%;height: auto;"></li>
        <li><img src="img/BOCHINI.jpg" style="max-width: 100%;height: auto;"></li>
    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
    </div>
</div>
</body>