@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<body class = "Index">
<div class="text-center">
<b><h1 class="display-4">Bienvenido a PreguntadOrt</h1></b>   
</div>
<div class="swiffy-slider">
    <ul class="slider-container">
        <li><img src="https://i.pinimg.com/originals/4c/b7/ee/4cb7ee303b609322d2bd05f962ac7289.jpg"</li>
        <li><img src="https://i.pinimg.com/1200x/87/48/04/8748049ee1b3492a1ea3329d0d95367c.jpg" </li>
        <li><img src="https://i.pinimg.com/550x/fb/aa/d3/fbaad39b89d9efc0e4cda55868ee651c.jpg"</li>
        <li><img src="https://i.pinimg.com/1200x/75/3d/e7/753de73f4d6fe1af1846a38efbd7166f.jpg"</li>
        <li><img src="https://i.pinimg.com/1200x/37/d4/75/37d4758ae5c639c7ccaaf97b8e472953.jpg"</li>
        <li><img src="https://i.pinimg.com/originals/89/5e/7e/895e7e835bc8e3ea0c3049dcdc9f86a6.jpg"</li>
    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
    </div>
</div>
</body>